.dashboardAvailPointsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboardStartTransQRContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboardAvailPointsTitle {
    font-size: 20px;
    color: #000000;
}

.dashboardAvailPointsAmount {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

.dashboardStartTransQRTitle {
    font-size: 20px;
    color: #000000;
}

.dashboardStartTransQRImg {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

