.redempTableContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 30px;
    gap: 20px;
    flex: 1 1 auto;
    border-radius: 10px;
}

.redempTableTitle {
    font-size: 20px;
    color: #000000;
    align-self: flex-start;
}

:global(.MuiTableCell-root.MuiTableCell-head) {
    color: #2A73B7 !important;
    text-align: center !important;
}

  :global(.MuiTableCell-body) {
    text-align: center !important;
}