:global(body) {
    margin: 0;
}

.profileGridContainer {
    /* Layout */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "nav  nav"
        "left-nav account-info";

    /* Sizes */
    width: 100vw;
    height: 100vh;

    /* Decorations */
    background-color: #f7f7f7;
}

.profileNav {
    /* Layout */
    grid-area: nav;
}

.profileLeftNav {
    /* Layout */
    grid-area: left-nav;
}

.profileRightSide {
    /* Layout */
    grid-area: account-info;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "profile-section account-section";
    min-height: 0;
    overflow-y: auto;
}

.profileProfileSection {
    /* Layout */
    grid-area: profile-section;
}

.profileAccountSection {
    /* Layout */
    grid-area: account-section;
}