.nav {
    /* Decorations */
    background-color: white;
}

.nav-list {
    /* Spacing */
    margin: 0px;

    /* Layout */
    display: flex;
    justify-content: center;

    /* Decorations */
    list-style: none;
}

.nav-list-item {
    /* Spacing */
    padding: 20px 30px;
}

.nav-list-item-link {
    /* Decorations */
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
}

.nav-list-item-link.active {
    background-color: #2A73B7;
    color: white;
}
